
<footer class="footer-center">
    <div class="container">
        <!-- Info Top - Footer Center-->
        <div class="row">
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-phone"></i>
                <h4>Talk to u</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-comment"></i>
                <h4>Live Chat</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-envelope"></i>
                <h4>Email Us</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-thumbs-up"></i>
                <h4>Good Support</h4>
            </div>
        </div>
        <!-- End Info Top - Footer Center-->
        <!-- Divisor Footer-->
        <div class="row">
            <div class="col-md-12">
                <div class="top"></div>
            </div>
        </div>
        <!-- End Divisor Footer-->
        <!-- Info Bottom - Footer Center-->
        <div class="row">
            <!-- Twitter Feed-->
            <div class="col-md-4">
                <div class="border-right">
                    <i class="fa fa-twitter"></i>
                    <h4>Latest Tweet</h4>
                    <div class="twitter">

                    </div>
                </div>
            </div>
            <!-- End Twitter Feed-->
            <!-- Newsletter-->
            <div class="col-md-3">
                <div class="border-right">
                    <h4>Newsletter</h4>
                    <p>Enter your e-mail and subscribe to our newsletter.</p>

                    <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input class="form-control" placeholder="Email Address" name="email" type="email" required="required">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                            </span>
                        </div>
                    </form>
                    <div id="result-newsletter"></div>
                </div>
            </div>
            <!-- End Newsletter-->
            <!-- Recent Links-->
            <div class="col-md-2">
                <div class="border-right">
                    <h4>Recent Links</h4>
                    <ul class="links">
                        <li><i class="fa fa-check"></i> <a href="#">Work</a></li>
                        <li><i class="fa fa-check"></i> <a href="#">About Us</a></li>
                        <li><i class="fa fa-check"></i> <a href="#">Services</a></li>
                        <li><i class="fa fa-check"></i> <a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Recent Links-->
            <!-- Flickr-->
            <div class="col-md-3">
                <h4>Recent flickr</h4>
                <ul id="flickr" class="thumbs"></ul>
            </div>
            <!-- End Flickr-->
        </div>
        <!-- Info Bottom - Footer Center-->
    </div>
</footer>