
<footer class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>018000-236-5899 </h3>
            </div>
            <div class="col-md-3">
                <h3><a href="#">Support</a> - <a href="#">Sales</a></h3>
            </div>
            <div class="col-md-3">
                <h3><a href="mailto:sales@roken.com" target="_blank">sales@roken.com</a></h3>
            </div>
            <div class="col-md-3">
                <h3>24x7x365</h3>
            </div>
        </div>
    </div>
</footer>