<header>
    <!-- Container-->
    <div class="container">
        <!-- Row-->
        <div class="row">
            <!-- Logo-->
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html" title="Return Home">
                        <img src="~/Content/UI/img/logo.png" alt="Logo" class="logo_img">
                    </a>
                </div>
            </div>
            <!-- End Logo-->
            <!-- Nav-->
            <nav class="col-md-9">
                <!-- Menu-->
                <ul id="menu" class="sf-menu">
                    <li>
                        <a href="index.html">HOME <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="index.html">Home Corporate</a></li>
                            <li><a href="index-agency.html">Home Agency</a></li>
                            <li><a href="index-business.html">Home Business</a></li>
                            <li><a href="index-creative.html">Home Creative</a></li>
                            <li><a href="index-alternative.html">Home Alternative</a></li>
                            <li><a href="index-one-page.html">Home One Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="about-us.html">ABOUT<i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="about-me.html">About Me</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="services.html">SERVICES <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="services.html">Services Default</a></li>
                            <li><a href="services-optional.html">Services Optional</a></li>
                            <li><a href="services-options.html">6 services options</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="feature-princing-tables.html">FEATURES <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="page-sections-backgrounds.html">Sections Backgrounds</a></li>
                            <li>
                                <a href="#">Pages <i class="fa fa-angle-right"></i></a>
                                <ul>
                                    <li><a href="page-register.html">Register User</a></li>
                                    <li><a href="page-full-width.html">Full Width</a></li>
                                    <li><a href="page-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="page-right-sidebar.html">Right Sidebar</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                    <li><a href="page-faq.html">FAQ</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Headers <i class="fa fa-angle-right"></i></a>
                                <ul>
                                    <li><a href="feature-header-1.html">Header Version 1</a></li>
                                    <li><a href="feature-header-2.html">Header Version 2</a></li>
                                    <li><a href="feature-header-3.html">Header Version 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Footers <i class="fa fa-angle-right"></i></a>
                                <ul>
                                    <li><a href="feature-footer-1.html#footer">Footer Version 1</a></li>
                                    <li><a href="feature-footer-2.html#footer">Footer Version 2</a></li>
                                    <li><a href="feature-footer-3.html#footer">Footer Version 3</a></li>
                                </ul>
                            </li>
                            <li><a href="feature-princing-tables.html">Princing Tables</a></li>
                            <li><a href="feature-grid-system.html">Grind System</a></li>
                            <li><a href="feature-typograpy.html">Tipograpy</a></li>
                            <li><a href="feature-icons.html">Icons</a></li>
                            <li><a href="feature-elements.html">Elements</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="work-4-columns.html">WORK <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="work-4-columns.html">4 Columns</a></li>
                            <li><a href="work-3-columns.html">3 Columns</a></li>
                            <li><a href="work-2-columns.html">2 Columns</a></li>
                            <li><a href="single-work.html">Single Work</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">BLOG <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="blog.html">Post</a></li>
                            <li><a href="blog-post.html">Single Post</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
                <!-- End Menu-->
            </nav>
            <!-- End Nav-->
        </div>
        <!-- End Row-->
    </div>
    <!-- End Container-->
</header>
