<!-- Theme-options -->
<div id="theme-options">
    <div class="openclose"></div>
    <div class="title">
        <span>THEME OPTIONS</span>
        <p>Choose a combination of predefined colors here. Here are some examples. You can create any additional number on your backend theme, also can choose the background you want and four differents layouts.</p>
    </div>
    <span>SKINS VERSION</span>
    <ul class="layout-style">
        <li class="light active">Light Skin</li>
        <li class="dark">Dark Skin</li>
    </ul>
    <span>SKINS COLOR</span>
    <ul id="colorchanger">
        <li><a class="colorbox red" href="?theme=blue" title="Red Skin"></a></li>
        <li><a class="colorbox blue" href="?theme=blue" title="Blue Skin"></a></li>
        <li><a class="colorbox yellow" href="?theme=yellow" title="Yellow Skin"></a></li>
        <li><a class="colorbox green" href="?theme=green" title="Green Skin"></a></li>
        <li><a class="colorbox orange" href="?theme=orange" title="Orange Skin"></a></li>
        <li><a class="colorbox purple" href="?theme=purple" title="Purple Skin"></a></li>
        <li><a class="colorbox pink" href="?theme=pink" title="Pink Skin"></a></li>
        <li><a class="colorbox cocoa" href="?theme=cocoa" title="Cocoa Skin"></a></li>
        <li><a class="colorbox suelte" href="?theme=suelte" title="Suelte Skin"></a></li>
        <li><a class="colorbox grey" href="?theme=grey" title="grey Skin"></a></li>
    </ul>
    <span>LAYOUT STYLE</span>
    <ul class="layout-style">
        <li class="wide active">Wide</li>
        <li class="boxed">Boxed</li>
        <li class="boxed-margin full">Boxed Margin</li>
    </ul>
    <div class="patterns">
        <span>BACKGROUND PATTERNS</span>
        <ul class="backgrounds">
            <li class="bgnone" title="None - Default"></li>
            <li class="bg1"></li>
            <li class="bg2"></li>
            <li class="bg3"></li>
            <li class="bg4 "></li>
            <li class="bg5"></li>
            <li class="bg6"></li>
            <li class="bg7"></li>
            <li class="bg8"></li>
            <li class="bg9 "></li>
            <li class="bg10"></li>
            <li class="bg11"></li>
            <li class="bg12"></li>
            <li class="bg13"></li>
            <li class="bg14"></li>
            <li class="bg15"></li>
            <li class="bg16"></li>
            <li class="bg17"></li>
            <li class="bg18"></li>
            <li class="bg19"></li>
            <li class="bg20"></li>
            <li class="bg21"></li>
            <li class="bg22"></li>
            <li class="bg23"></li>
            <li class="bg24"></li>
            <li class="bg25"></li>
            <li class="bg26"></li>
        </ul>
    </div>
</div>
<!-- End Theme-options -->