
<section class="title-section">
    <div class="container">
        <!-- crumbs -->
        <div class="row crumbs">
            <div class="col-md-12">
                <a href="index.html">Home</a> / <a href="#">Blog </a> / Post
            </div>
        </div>
        <!-- End crumbs -->
        <!-- Title - Search-->
        <div class="row title">
            <!-- Title -->
            <div class="col-md-9">
                <h1>
                    Blog
                    <span class="subtitle-section">
                        Page post
                        <span class="left"></span>
                        <span class="right"></span>
                    </span>
                    <span class="line-title"></span>
                </h1>
            </div>
            <!-- End Title-->
            <!-- Search-->
            <div class="col-md-3">
                <form class="search" action="#" method="Post">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- End Search-->
        </div>
        <!-- End Title -Search -->

    </div>
</section>